* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    flex-direction: column;

    background-color: rgb(27, 25, 25);
    gap: 20px;
}

#game-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 10px;
    background-color: aliceblue;
    margin-top: 30px;
}


.square {
    height: 130px;
    width: 130px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 800;
    font-size: 40px;
    color: rgb(237, 212, 212);
    background-color: rgb(27, 25, 25);
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
}

#inputs {
    display: flex;
    gap: 40px;
}

.input-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: rgb(255,255,255);
}

button {
    width: 200px;
    height: 50px;
    background-color: rgb(136, 245, 136);
    border: 0px;
    border-radius: 10px;
    color: rgb(255, 81, 81);
    font-size: 30px;
}

input {
    height: 25px;
    padding: 5px;
}

#results {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

